.monmenu {
    .menu {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .menuitem {
        text-decoration: none;
        color: white;
        
    }
    
    .menuactive {
        text-decoration: none;
        color: white;
        background-color: rgb(32,177,170);
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .page {
        text-decoration: none;
        color:rgb(120,137,145);
        cursor: pointer;
    }

    .pageactive {
        text-decoration: underline;
        color: rgb(32,177,170);
        cursor: pointer;
    }
    
    #jiramalabel {
        color:#ffffff;
        font-size: 30px;
    }
    
    .icon {
        cursor: 
        pointer;
    }
    
    .header {
        box-shadow: 0 0 4px 0 rgba(128, 128, 128, 0.75);
    }
}